<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {540, 720}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Monaco</string>
			<key>Size</key>
			<real>12</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>0</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5700</integer>
							<key>Points</key>
							<array>
								<string>{87.694, 30.2068}</string>
								<string>{105.693, 31.9569}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5701</integer>
							<key>Points</key>
							<array>
								<string>{87.193, 31.9569}</string>
								<string>{105.193, 33.7069}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5702</integer>
							<key>Points</key>
							<array>
								<string>{87.194, 33.7069}</string>
								<string>{105.194, 35.4569}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{89.891, 36.8705}, {13.3518, 6.68088}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>5704</integer>
									<key>Rotation</key>
									<real>180</real>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{78, 36.8706}, {37.3917, 6.68088}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>5705</integer>
									<key>Rotation</key>
									<real>180</real>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>5703</integer>
							<key>Rotation</key>
							<real>180</real>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{87.384, 25.5469}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5706</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>5699</integer>
					<key>Rotation</key>
					<real>90</real>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5708</integer>
							<key>Points</key>
							<array>
								<string>{147.694, 30.2068}</string>
								<string>{165.693, 31.9569}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5709</integer>
							<key>Points</key>
							<array>
								<string>{147.193, 31.9569}</string>
								<string>{165.193, 33.7069}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5710</integer>
							<key>Points</key>
							<array>
								<string>{147.194, 33.7069}</string>
								<string>{165.194, 35.4569}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{149.891, 36.8705}, {13.3518, 6.68088}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>5712</integer>
									<key>Rotation</key>
									<real>180</real>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{138, 36.8706}, {37.3917, 6.68088}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>5713</integer>
									<key>Rotation</key>
									<real>180</real>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>5711</integer>
							<key>Rotation</key>
							<real>180</real>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{147.384, 25.5469}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5714</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>5707</integer>
					<key>Rotation</key>
					<real>90</real>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{160.5, 321.047}, {27, 27}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5716</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.0980392</string>
										<key>g</key>
										<string>0.0980392</string>
										<key>r</key>
										<string>0.0980392</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{156, 316.547}, {36, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5717</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.8</string>
										<key>r</key>
										<string>0.8</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>5715</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5719</integer>
							<key>Points</key>
							<array>
								<string>{242.303, 30.2068}</string>
								<string>{260.302, 31.9568}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5720</integer>
							<key>Points</key>
							<array>
								<string>{241.802, 31.9569}</string>
								<string>{259.802, 33.7068}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>AllowLabelDrop</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>5721</integer>
							<key>Points</key>
							<array>
								<string>{241.803, 33.7068}</string>
								<string>{259.803, 35.4569}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Draws</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>16</real>
								</dict>
								<key>stroke</key>
								<dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>0.5</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{244.499, 36.8704}, {13.3518, 6.68088}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>5723</integer>
									<key>Rotation</key>
									<real>180</real>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{232.608, 36.8705}, {37.3917, 6.68088}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>5724</integer>
									<key>Rotation</key>
									<real>180</real>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>5722</integer>
							<key>Rotation</key>
							<real>180</real>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{241.993, 25.5469}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5725</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>5718</integer>
					<key>Rotation</key>
					<real>90</real>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{313.521, 208.308}, {61, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Monaco</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>5726</integer>
					<key>Line</key>
					<dict>
						<key>ID</key>
						<integer>5727</integer>
						<key>Offset</key>
						<real>8.6338024139404297</real>
						<key>Position</key>
						<real>0.51849454641342163</real>
						<key>RotationType</key>
						<integer>2</integer>
					</dict>
					<key>Rotation</key>
					<real>270</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs24 \cf0 &lt;%Length%&gt;}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>5727</integer>
					<key>Points</key>
					<array>
						<string>{335.387, 45.1029}</string>
						<string>{335.387, 384.943}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>DimensionArrow</string>
							<key>HeadScale</key>
							<real>1.5000001192092896</real>
							<key>TailArrow</key>
							<string>DimensionArrow</string>
							<key>TailScale</key>
							<real>1.5000001192092896</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{143.951, -3.634}, {61, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0</string>
							<key>g</key>
							<string>0</string>
							<key>r</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Monaco</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>5728</integer>
					<key>Line</key>
					<dict>
						<key>ID</key>
						<integer>5729</integer>
						<key>Offset</key>
						<real>5.6338024139404297</real>
						<key>Position</key>
						<real>0.49468076229095459</real>
						<key>RotationType</key>
						<integer>2</integer>
					</dict>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fnil\fcharset0 Monaco;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural

\f0\fs24 \cf0 &lt;%Length%&gt;}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>5729</integer>
					<key>Points</key>
					<array>
						<string>{34.12, 14.9998}</string>
						<string>{317.8, 14.9998}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>DimensionArrow</string>
							<key>HeadScale</key>
							<real>1.5000001192092896</real>
							<key>TailArrow</key>
							<string>DimensionArrow</string>
							<key>TailScale</key>
							<real>1.5000001192092896</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{33.62, 45.103}, {283.68, 339.84}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>5730</integer>
					<key>ImageID</key>
					<integer>16</integer>
					<key>ManualSizeImage</key>
					<string>YES</string>
					<key>Offset</key>
					<string>{0, 0.01}</string>
					<key>Scale</key>
					<real>0.93999999761581421</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>image fill</key>
						<dict>
							<key>ImageSizing</key>
							<integer>0</integer>
							<key>Offset</key>
							<string>{0, 0.01}</string>
							<key>Scale</key>
							<real>0.93999999761581421</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{194.493, 44.8329}, {24.5065, 6.68091}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>11</real>
							</dict>
							<key>ID</key>
							<integer>5732</integer>
							<key>Rotation</key>
							<real>179.9998779296875</real>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{197.654, 40.5469}, {18, 10.8}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Helvetica</string>
								<key>Size</key>
								<real>11</real>
							</dict>
							<key>ID</key>
							<integer>5733</integer>
							<key>Rotation</key>
							<real>359.99990844726562</real>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>5731</integer>
					<key>Rotation</key>
					<real>359.99990844726562</real>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{36.2054, 62.6419}, {6.81051, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5735</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{23.0254, 62.6419}, {6.81052, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5736</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{20.5653, 59.4539}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5737</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{30.8454, 59.4539}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5738</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>5734</integer>
					<key>Rotation</key>
					<real>270</real>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{36.739, 350.642}, {6.81051, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5740</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{23.559, 350.642}, {6.81052, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5741</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{21.0989, 347.454}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5742</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{31.379, 347.454}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5743</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>5739</integer>
					<key>Rotation</key>
					<real>270</real>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{321.739, 350.642}, {6.81051, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5745</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{308.559, 350.642}, {6.81052, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5746</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{306.099, 347.454}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5747</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{316.379, 347.454}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5748</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>5744</integer>
					<key>Rotation</key>
					<real>270</real>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{321.739, 62.6418}, {6.81051, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5750</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{308.559, 62.6418}, {6.81052, 6.81051}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5751</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{306.099, 59.4538}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5752</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{316.379, 59.4538}, {14.0557, 13.1862}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>5753</integer>
							<key>Rotation</key>
							<real>270</real>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>5749</integer>
					<key>Rotation</key>
					<real>270</real>
				</dict>
			</array>
			<key>ID</key>
			<integer>5698</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>1.5</real>
		<key>MajorGridSpacing</key>
		<integer>48</integer>
		<key>MinorGridColor</key>
		<dict>
			<key>a</key>
			<string>0.3</string>
			<key>w</key>
			<string>0.666667</string>
		</dict>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>17</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image16.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-05-27 09:36:28 -0400</string>
	<key>Modifier</key>
	<string>Hank Brain</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>none</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>0</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{35, 82}, {1082, 796}}</string>
		<key>ListView</key>
		<false/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>138</integer>
		<key>Zoom</key>
		<real>1.059999942779541</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.059999942779541</real>
				<real>2.119999885559082</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
